:root{
    --my_red: #a83b40;
}

body{
    background-color: var(--my_red);
    font-family: monospace;
}

/* #content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
    width: 100%;
} */

#signup{
    display: flex;
    flex-direction: row;
    margin: auto;
    max-width: 700px;
    /* height: 400px; */
    background-color: rgb(255, 255, 255);
    margin-top: 10%;
    box-shadow: 5px 5px 50px 5px rgb(101, 37, 37);
}

#title{
    margin-top: 20px;
    margin-bottom: 30px;
    /* background-color: aquamarine; */
}

#title h1{
    color: var(--my_red);
}

#functional{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    /* background-color: blueviolet; */
}

#data{
    display: flex;
    flex-direction: column;
    width: 80%;
    /* background-color: blue; */
}

.entry{
    border: none;
    height: 30px;
    font-size: large;
    margin-top: 15px;
    /* border-bottom: solid black; */
}
.entry:focus{
    outline: none;
    border: none;
}

input[type = "password"]:not(:placeholder-shown){
    letter-spacing: 5px;
}

#change{
    width: 80%;
    height: 30px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#button{
    width: 80%;
    height: 60px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    /* background-color: aqua; */
}
#login_button{
    border: none;
    width: 40%;
    height: 40px;
    border-radius: 7px;
    font-size: large;
    background-color: var(--my_red);
    color: white;
}

#signup #image{
    width: 50%;
    background-image: url("../uploads/ashesi_university_img0.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
}