:root{
    --my_red: #a83b40;
}

body{
    background-color: var(--my_red);
    font-family: monospace;
    margin: 0;
    padding: 0;
}


#dashboard{
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1000px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 50px 5px rgb(101, 37, 37);
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--my_red);
    width: 100%;
    margin-top: 10px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 55%;
    height: 60px;
    /* background-color: blue; */
}

nav a{
    background-color: #913a3e;
    width: 24%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    text-decoration: none;
}
nav a p{
    font-size: x-large;
    color: white;
}

#profile{
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: row;
    width: 30%;
}
#profile #picture{
    /* background-color: rgb(30, 91, 91); */
    height: 60px;
    width: 60px;
}
#profile #picture img{
    background-color: azure;
    border-radius: 50%;
    height: 100%;
    width: 100%;
}
#profile #text{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 5px;
}
#profile #text p{
    margin: 0;
    font-size:x-large;
}
.bold{
    font-weight: bold;
    font-size: larger;
}

#siguout{
    /* background-color: black; */
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#siguout button{
    border: none;
    height: 80%;
    width: 100%;
    font-size: x-large;
    font-family: monospace;
    border-radius: 20px;
    background-color: white;
    color: var(--my_red);
}
#siguout button:hover{
    cursor: pointer;
}



/*--------------------| MAIN CONTENT |------------------*/
#main{
    width: 100%;
} 

#main .course{
    width: 90%;
    background-color: rgb(25, 150, 150);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-self: center;
    margin-top: 5px;
    border-radius: 5px;
}
.courseCode{
    /* background-color: antiquewhite; */
    flex-grow: 1;
    padding-left: 5px;
    border-right: solid black 2px;
    display: flex;
    justify-content: left;
    align-items: center;

}

.courseName{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: blue; */
    width: 70%;
}
.courseName p{
    margin: 0;
    padding-left: 10px;
}

.enrollmentButton{
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}
.enrollmentButton button{
    height: 60%;
    width: 80%;
    border: none;
    font-family: monospace;
    background-color: green;
    color: white;
}
.enrollmentButton button:hover{
    cursor: pointer;
}

.enrollmentButton p{
    height: 60%;
    width: 80%;
    color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.enrollButton.enrollable {
    background-color: green;
    color: white;
}

.enrollButton.withdrawn {
    background-color: red;
    color: white;
}




/* Course Registration */
#createCourse{
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
    width: 70%;
    justify-self: center;
    margin-top: 10%;
}

#createCourse div{
    margin-top: 10px;
    height: 30px;
    /* background-color: #913a3e; */
}

#createCourse div #department{
    width: 100%;
    height: 100%;
    font-family: monospace;
    font-size: large;
    border: none;
    background-color: rgb(232, 230, 227);
}

#createCourse div #department:focus{
   outline: none;
}


#createCourse .entry{
    margin-top: 10px;
    height: 30px;
    font-family: monospace;
    font-size: large;
    border: none;
    background-color: rgb(232, 230, 227);
}

#createCourse .entry:focus{
   outline: none;
}

#createCourse #button{
    margin-top: 10px;
    height: 40px;
    width: 30%;
    font-family: monospace;
    font-size: large;
    align-self: center;
    border: none;
    background-color: green;
    color: white;
}
#createCourse #button:hover{
    cursor: pointer;
    background-color: rgb(3, 82, 3);
}


/* Accept/Deny */
.decision{
    width: 50px;
    background-color: #913a3e;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.decision button{
    width: 100%;
    height: 50%;
    border: none;
    color: white;
}
.decision button:hover{
    cursor: pointer;
}

.decision #den{
    background-color: rgb(187, 0, 0);
    border-top-right-radius: 5px;
}
.decision #den:hover{
    background-color: rgb(141, 0, 0);
}
.decision #acc{
    background-color: green;
    border-bottom-right-radius: 5px;
}
.decision #acc:hover{
    background-color: rgb(1, 82, 1);
}