:root{
    --my_red: #a83b40;
}

body{
    background-color: var(--my_red);
    font-family: monospace;
}

#signup, #signin{
    display: flex;
    flex-direction: row;
    margin: auto;
    max-width: 700px;
    min-height: 380px;
    /* height: 400px; */
    background-color: rgb(255, 255, 255);
    margin-top: 10%;
    box-shadow: 5px 5px 50px 5px rgb(101, 37, 37);
}

.part{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
}

.form_title{
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.form_data{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.form_data .entry, select{
    border: none;
    height: 30px;
    width: 100%;
    font-size: large;
    margin-top: 15px;
    /* border-bottom: solid black; */
}
.form_data .entry:focus, select:focus{
    outline: none;
    border: none;
}



input[type = "password"]:not(:placeholder-shown){
    letter-spacing: 5px;
}




.additonals{
    margin-top: -10px;
    margin-bottom: -10px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
}

.button input{
    height: 40px;
    width: 130px;
    border: none;
    border-radius: 7px;
    font-size: large;
    background-color: var(--my_red);
    color: white;
}



/* #part2{
    display: none;
} */

#image{
    width: 50%;
    background-image: url("../images/ashesi_university_img0.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
}

